*{Background-Color: white}
#hot-deals{ background-color: #C9ECB5;}
footer{background-color: #C9ECB5;}

div{display: flex;
flex-direction: row;
justify-content: space-around;
background-color: green;}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5cm 0cm;
    background-color: green; 
}
img{clear: right;}